# Node modules
node_modules/

# Logs
npm-debug.log*


# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Env files (if used)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
